torch==2.5.1
torchvision==0.20.1
einops==0.8.0
scikit-learn==1.6.1
gymnasium==0.29.1
gym==0.24.1
mani-skill==3.0.0b15
sapien==3.0.0b1
mujoco==2.3.3
numpy==1.26.4
scipy==1.13.1
pandas==2.2.3
matplotlib==3.9.3
seaborn==0.13.2
plotly==5.24.1
tensorboard==2.18.0
tqdm==4.66.5
imageio==2.36.1
opencv-python==4.10.0.84